altgraph==0.16.1
appdirs==1.4.3
asn1crypto==0.24.0
astroid==2.1.0
autopep8==1.4.3
beautifulsoup4==4.7.1
bs4==0.0.1
certifi==2018.8.24
cffi==1.11.5
chardet==3.0.4
Click==7.0
colorama==0.3.9
cryptography==2.3.1
cycler==0.10.0
Django==2.1.7
docutils==0.14
dropbox==9.3.0
fire==0.1.3
Flask==1.0.2
Flask-SQLAlchemy==2.4.0
future==0.17.1
h5py==2.8.0
idna==2.7
inflection==0.3.1
isort==4.3.4
itsdangerous==1.1.0
Jinja2==2.10
Keras==2.2.2
Keras-Applications==1.0.4
Keras-Preprocessing==1.0.2
kiwisolver==1.0.1
lazy-object-proxy==1.3.1
macholib==1.11
MarkupSafe==1.1.1
mccabe==0.6.1
more-itertools==4.3.0
numpy==1.15.1
pandas==0.23.4
pathspec==0.5.7
pefile==2018.8.8
pipdate==0.3.1
protobuf==3.1.0
PyBrain==0.3
pycparser==2.18
Pygments==2.4.2
PyInstaller==3.4
pylint==2.2.2
PyMySQL==0.9.3
pyOpenSSL==18.0.0
pyparsing==2.2.0
pypiwin32==223
python-dateutil==2.7.3
requests==2.19.1
soupsieve==1.8
SQLAlchemy==1.3.3
urllib3==1.23
virtualenv==16.6.0
Werkzeug==0.15.1
