{% extends "uheader.html" %}
{% block content %}
<!--<%@ include file="uheader.jsp"%>

<%@ page  import="java.sql.*" import="databaseconnection.*"  import="CT.*" %>

<%String email=(String)session.getAttribute("email");%>


<% String mail=request.getParameter("mail");
System.out.println("00000000"+mail);
System.out.println("00000000"+email);
%> 



<%
try{
//String f1[]=Details.main(mail);

//
String sen=mail;;
//System.out.println(f1[0]+" ..........."+f1[1]+"---"+f1[2]);
String rec=email;
//System.out.println(sen+" ...........");
System.out.println(rec+" "+sen);
Connection con = databasecon.getconnection();
Statement st=con.createStatement();


String sql="insert into friends values('"+Base64.encode(sen)+"','"+Base64.encode(rec)+"')";
System.out.println(sql);
st.executeUpdate(sql);
sql="insert into friends values('"+Base64.encode(rec)+"','"+Base64.encode(sen)+"')";
st.executeUpdate(sql);

st.executeUpdate("update frequest set requ='accepted' where uto='"+email+"' && ufrom='"+mail+"' ");

response.sendRedirect("freq.jsp?id=ok");


}
catch(Exception e){
	System.out.println("00000000"+e);
}
%>-->
{% if f==1 %}
<script>alert("Friend Request Accepted")</script>
{% else %}
<script>alert("Friend Request Rejected")</script>
{% endif %}
<script>window.location.replace("/u_home");</script>
{% endblock content%}