{% extends "admin_header.html" %}
{% block content %}


<div class="container" style="height:50%;">
    <div class="row d-flex">
      <div class="col-md-12 text-wrap heading-section ftco-animate">
        <h1 class="mb-2">welcome</h1>
        <h2 class="mb-2"><span>Admin<br></span></h2>
      </div>
      <span style="font-size: 14px; margin-left:2%;">adimin@gmail.com</span>
    </div>
  </div>
            <!-- <h3></h3>
                <div class="ser-t">
                    <b></b>
                    <span><i></i></span>
                    <b class="line"></b>
                </div>
        </div> -->
<!--<%@ include file="aheader.jsp"%>-->
<!-- <%@ include file="footer.jsp"%>-->
{% endblock content%}

